{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
    <div class="container">
      <div class="jumbotron">
        <h1>Thesis Tools!</h1>
{#        <p>Convert your thesis from popular formats like .doc, ,docx, .rtf to and from LaTex</p>#}
          <p>We'll assist you with our tools for writing your thesis</p>
        <p><a class="btn btn-primary btn-lg" href="{% url 'userena_signup' %}" role="button">Get Started &raquo;</a></p>
      </div>
    </div>
{% endblock %}
