{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}


<div class="container">
    <h1>Pick your plag</h1>
    <div class="container jumbotron" >
      <form method="post"  enctype="multipart/form-data" class="form col-md-5">
          {% csrf_token %}
          {% bootstrap_form form %}

          <hr>
          {% buttons %}
          <button type="submit" class="btn btn-success" >Upload</button>
          {% endbuttons %}
      </form>
    </div>
</div>
{% endblock content %}
