{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block further_head %}
<link href="{% static 'css/view_doc.css' %}" rel="stylesheet" media="screen">
<script src="{% static 'js/popover.js' %}"></script>
<script src="{% static 'js/tooltip.js' %}"></script>
<script src="{% static 'js/view_doc.js' %}"></script>
{% endblock further_head %}

{% block content %}
<body>
  <div class="container">
    <h1>Where's the plag?</h1>
    <div class="jumbotron">
        <small>
            <p>Atom Type: {{ atom_type }} </p>
            <p>Cluster Method: {{ cluster_method }} </p>
            <p>k: {{ k }} </p>
        </small>

      <button type="button" class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#full_table">
      Hide/Show Table
      </button>

      <div class="row collapse in" id="full_table">
        <div class="col-md-9">
          <div class="table-responsive" style="font-size:12px;">
          <table class="table table-condensed table-scrollable table-bordered">
            <thead>
              <tr>
                <th>Start Index</th>
                {% for feature in features %}
                  <th>{{ feature }} </th>
                {% endfor %}
                <th>Plag. Conf.</th>
                <th>Plag. Span</th>
              </tr>
            </thead>
            <tbody>
              {% for passage in passages %}
                <tr class="passage_starting_at_{{ passage.start_word_index }}">
                  <td class="passage_row"> {{ passage.char_index_start }} </td>
                  {% for feature, value in passage.features.items %}
                    <td class="passage_row"> {{ value|stringformat:".4f" }} </td>
                  {% endfor %}

                  {% if passage.plag_confidence %}
                    <td class="passage_row"> {{ passage.plag_confidence|stringformat:".4f" }} </td>
                  {% endif %}

                  {% if passage.plag_spans|length > 0 %}
{#                    <td class="passage_row"> {{ "(%i, %i)"| format(passage.plag_spans[0][0], passage.plag_spans[0][1]) }} </td>#}
{#                      I think I have to write a custom filter to handle the spans since there's no easy way to
                        output tuples #}
                  <td class="passage_row"> {{ passage.plag_spans.0.0|stringformat:"i",
                                              passage.plag_spans.0.1|stringformat:"i" }} </td>
                  {% else %}
                    <td class="passage_row"></td>
                  {% endif %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        </div>
      </div>

      <div class="row">
          <div class="col-md-9">

            <div class="panel panel-default">
              <div class="panel-heading">
                {{ doc_name }}
              </div>
              <div class="panel-body" id="document_content">
                <p>
                {% for passage in passages %}
                <div class="passage" features="{{ passage.to_html }}" style="font-size:14px;display:inline;">
                    {{ passage.format_text_with_underlines|safe }}
                </div>
                {% if atom_type == 'paragraph' %}
                    <br />
                {% endif %}

                {% endfor %}
                </p>
              </div>

            </div>
          </div>

          <div class="col-md-3">
            <div class="panel panel-default" data-spy="affix" id="feature_panel" data-offset-top="400" data-offset-bottom="200">
              <div class="panel-heading">
                Passage Details
              </div>
              <div class="panel-body" id="feature_box" style="font-size:12px">
                  
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</body>
{% endblock content %}
